@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.flex{
    display: flex;
    &-jc{
        &-center{
            justify-content: center;
        }
        &-end{
            justify-content: flex-end;
        }
    }
    &-ai{
        &-center{
            align-items: center;
        }
        &-end{
            align-items: flex-end;
        }
    }
    &-row{
        flex-direction: row;
    }
    &-col{
        flex-direction: column;
    }
    &-wrap{
        flex-wrap: wrap;
    }
}

@keyframes borderAnimation{
    0% {
        border-color: palevioletred;
    }
    50%{
      border-color:  #fcaa50;
    }
    100%{
        border-color: #4fb0e6;
    }
}

.mycard {
    animation: borderAnimation 2.6s ease infinite;
    border-top: solid  ;
    text-transform: uppercase;
    font-weight: lighter;
    border-radius: 1rem;
    font-size: medium;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: transform .4s ease;
    margin: 3%;
    width: 19rem;
    padding: 1rem;
    &-wrapper{
        height: fit-content;
    }
    &-imagewrapper{
        height: fit-content;
        width: 100%;
        border-radius: 1rem;
        overflow: hidden;
        justify-content: center;
    }
    &-image{
        transition: transform .5s ease;
        width: 70%;
        border-radius: 5rem;
        max-height: 13rem;
        justify-content: center;
        min-height: 9.4rem;
    }
}

.mybrand{
    font-family: 'Pacifico', cursive;
    font-size: x-large;
    font-weight: bolder;
    background: -webkit-linear-gradient(70deg, rgba(255,87,87,1) 0%, rgba(176,86,235,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

body,html{
    background-color: whitesmoke;
}

.add-btn{
    padding: 2%;
    cursor: pointer;
    border: solid  #F4636E ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 3rem;
    margin: 3%;
    width: fit-content;
    background-color: #F4636E ;
    color: whitesmoke;
    font-weight: lighter;
    &:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
}

.mynav-bar{
    position: fixed;
    width: 100%;
    border-bottom: solid palevioletred ;
    border-radius: 0rem 0rem 1rem 1rem ;
    box-shadow: 0 2px 4px 0 rgba(48, 48, 48, 0.2);
    background-color: #eeeeee   ;
    z-index: 10000;
}

.mycard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition:  .5s ease-in-out;
    transform: scale(1.07);
    .mycard-image{
        transform: scale(1.5);
        animation-name: imageAnimation;
        animation-duration: 0.6s;
        border-radius: 9%;
    }
    .mycard-title{
        transition:  .5s ease;
        margin-left: 10%;
    }
}

@keyframes imageAnimation{
    0%{
        border-radius: 40%;
    }
    100%{
        border-radius: 9%;
    }
}

.heart-icon{
   cursor: pointer;
}

.landing-banner{
    width: 100%;
    border-bottom: solid dodgerblue;
    border-bottom-width: 5px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    &-container{
        align-items: center;
    }
    background: rgb(87,215,255);
background: linear-gradient(73deg, rgba(87,215,255,0.5130427170868348) 0%, rgba(86,141,235,0.5914740896358543) 100%);
}


.ball, .ball2{
    height:3rem;
    border-radius:0.5rem;
    width:3rem;
    background-color: rgba(244, 99, 111, 0.705);
    position:absolute;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.ball{
   
    animation: ro 7s linear infinite;
  
  }
  .ball-container{
    display:flex;
    margin: 1rem;
    justify-content:center;
    align-items:center;
  }
  .loader-circle{
     display:flex;
    justify-content:center;
    align-items:center;
    background-color:white;
    font-size: small !important;
    z-index:1000;
    font-family: 'Pacifico', cursive;
    font-weight: lighter;
    color: #F4636E;
    border:solid white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius:50%;
    transition:width 2s ease;
    height:1.3rem;
    width:1.3rem;
  }

.snackbar{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 2rem;
    top:  10.5%;
    width: fit-content;
    color: whitesmoke;
    position: absolute;
    background-color: whitesmoke;
    &-error{
        background-color: rgba(233, 103, 103, 0.979) !important;
    }
    &-success{
        background-color: rgb(95, 199, 130) !important;
    }
    animation-name: fromup;
    animation-duration: 1s;
    animation-timing-function: ease;
    &-content{
        padding: 9px;
        text-align: center;
    }
}
@keyframes fromup{
    from{
        top: 8%;
        opacity: 0;
    }
    to{
        top: 10.5%;
        opacity: 1;
    }
}

  @keyframes increaseSize{
    0%{
      border-width:0rem;
    }
    50%{
     border-width:0.4rem;
    }
    100%{
       border-width:0rem;
    }
  }
  
  .ball2{
 
    animation: ro2 7s linear infinite;
  }
  
  @keyframes ro{
    from{
      transform: rotate(0deg);
    }
    to{
      transform:rotate(360deg);
    }
  }
  @keyframes ro2{
    from{
      transform: rotate(-90deg);
    }
    to{
      transform:rotate(-450deg);
    }
  }

#root{
    transition: all 0.4s ease-in-out;
}

.myfooter{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-color: #eeeeee;;
    transition: all 0.4s ease;
    border-top: solid palevioletred;
}
