@mixin responsive($breakpoint){
    @if $breakpoint == phone{
        @media only screen and (max-width:600px){@content}; 
    }
    @if $breakpoint == tab{
        @media only screen and (max-width:1000px){@content}; 
    }
    @if $breakpoint == desktop{
        @media only screen and (max-width:1600px){@content}; 
    }
    @if $breakpoint == big-desktop{
        @media only screen and (max-width:1800px){@content}; 
    }
}


.ball{
  height:3rem;
  border-radius:0.5rem;
  width:3rem;
  background-color: rgba(250, 121, 79 ,0.7);
  position:absolute;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin :1rem;
  animation: ro 7s linear infinite;

}
.ball-container{
  display:flex;
  padding: 1rem;
  justify-content:center;
  align-items:center;
}
.loader-circle{
   display:flex;
  justify-content:center;
  align-items:center;
  background-color:white;
  font-size: small !important;
  z-index:1000;
  font-family: 'Pacifico', cursive;
  font-weight: lighter;
  color: #F4636E;
  border:solid white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius:50%;
  transition:width 2s ease;
  height:1.3rem;
  width:1.3rem;
  animation:increaseSize 2s linear infinite;
}
@keyframes increaseSize{
  0%{
    border-width:0rem;
  }
  50%{
   border-width:0.4rem;
  }
  100%{
     border-width:0rem;
  }
}

.ball2{
 height:3rem;
  border-radius:0.5rem;
  width:3rem;
  background-color: rgba(250, 121, 79 ,0.7);
  position:absolute;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin :1rem;
  animation: ro2 7s linear infinite;
}

@keyframes ro{
  from{
    transform: rotate(0deg);
  }
  to{
    transform:rotate(360deg);
  }
}
@keyframes ro2{
  from{
    transform: rotate(-90deg);
  }
  to{
    transform:rotate(-450deg);
  }
}